<?xml version="1.0" encoding="UTF-8" ?>

<routes>
    <route path="/foo"
           method="GET"
           action="showAll"
           controller="App\Controller\CardController"/>
    <route path="/cards"
           method="GET"
           action="showAll"
           controller="App\Controller\CardController"/>
    <route path="/cards/([\w\s']{1,64})"
           method="GET"
           action="show"
           controller="App\Controller\CardController"/>
</routes>
